{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "Default": "Server=localhost;Database=WorkspaceHub;User ID=sa;Password=123;Encrypt=False;TrustServerCertificate=True"
  },
  "Jwt": {
    "Issuer": "WorkspaceHub",
    "Audience": "WorkspaceHub",
    "ExpiresIn": 3600,
    "Key": "YOUR_JWT_SECRET_KEY_MIN_32_CHARS_LONG"
  },
  "Google": {
    "RedirectUri": "http://localhost:5173/oauth/callback"
  },
  "Dev": {
    "google": {
      "ClientId": "YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com",
      "ClientSecret": "YOUR_GOOGLE_CLIENT_SECRET"
    },
    "jira": {
      "ClientId": "YOUR_ATLASSIAN_CLIENT_ID",
      "ClientSecret": "YOUR_ATLASSIAN_CLIENT_SECRET"
    }
  }
}
